<header class="container-fluid header text-white font">
<div class="painel">
    <header class="upper_header">
        <label class="upper_h2">dinnerdash</label>
        <label class="float-right "><%= link_to  "entrar", user_session_path, class: "link" %></label>
        <label class="upper_header float-right "><%= link_to  "cadastro", new_user_registration_path, class: "link" %></label>
        </header>

    <header class="lower_header fixed-bottom">
        <h1 class="home_title">Monte seu prato</h1>
        <h3 class="home_subtitle">Escolha sua salada, molho, prato principal, guarnição e bebida</h3>
    </header>
    </div>
</header>