<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="ml-5 pl-5 navbar-nav nav_meal">
			<span href="#"><%= link_to  "Pedidos", orders_path, class: "pl-4 pt-0 pb-0 nav-link" %></span>
			<span class="nav-item href="#"><%= link_to  "Usuários", backoffice_users_path, class: "nav-link pt-0 pb-0" %></span>
			<span class="nav-item nav-link active pt-0 pb-0" href="#">Refeições</span>
			<span class="nav-item" href="#"><%= link_to  "Categorias de Refeição", categories_path, class: "nav-link pt-0 pb-0" %></span>
		</div>
	</div>
</nav>