/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "normalize";
@import "bootstrap";
@import "categories";
@import "users";
@import "homes";
@import "meals";
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(180, 186, 192, 0.425);
    margin-bottom: 0%;
    font-weight: italic; 
    color: black; 
    font-size: calc(7px + .5vw);
}

.footer_right_credits {
    float: right;
    margin-right: 2%;
}
.footer_left_credits {
    float: left;
    margin-left: 2%;
}
.img_certa_home{
  max-width: 100%;
  max-height: 40%;
  min-height: 40%;
}

.img_certa_backoffice{
    max-width: 100%;
    max-height: 40%;
    min-height: 40%;
  }

  .card_footer{
    position:absolute;
    bottom: 12px;
    width:100%;
  }

  .card_footer2{
    position:absolute;
    bottom: 0;
    width:100%;
  }

  .form_fix{
      width: auto;
  }

  .img_cart_home{
      width: 120px;
      height: 100px;
  }