// Place all the styles related to the BackofficeUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.over_backoffice{
    position: absolute;
    top: 33.6%;
    padding: 0;
}

.painel_card{
    height: 40%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.363);
    margin: 0%;
}