// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    box-sizing: border-box;
}
.img {
    background-image: url(helloquence-61189.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    height: 45vh;
    width: 100%;
}
.escurinho {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);

}
.status_tab {
    color: white;
    border-radius: 5px;
    
}
.entregue {
    background-color: #28a745;
    text-align: center;
}
.pend {
    background-color: #007bff;
    text-align: center;
}
.cancel {
    background-color: #E82431;
    text-align: center;
}
table{
    margin-top: 20px; 
    border-spacing: 0;
    width: 100%;
}

.top th{
    background-color:  #DEE2E6;
    padding: 10px 30px;
    text-align: left;
}
td {
    padding: 10px 30px 10px 30px;
    text-align: left;
    border-bottom: 2px solid #DEE2E6;
}
.editar{
    color:  #FDDF4C;
}
.exc {
    color: #E82431;
}
.meal_name_backoffice {
    background-color: (rgba(0, 0, 0, 0.35));
    color: white;
    width: 100%;
    padding-top: 6px;
}
.over_backoffice{
    position: absolute;
    top: 33.6%;
    padding: 0;
}
.cards_backoffice {
    position: relative;
    word-wrap: break-all;
    width: 250px;
    height: 400px;
    margin-right: 2%;
    margin-bottom: 2em;

}
.itens_pedido {
    padding-right: 30px;
    color: #007bff;
}
.data {
    padding-left: 30px;
}

.cont {
    height: 100vh;
}
.tab {
    margin-top: 1em;
    font-size: 2em;
    width: 80%;
}
.gray {
    background-color:  #DEE2E6;
}
.bord {
    border-radius: 15px;
    color: white;
}
.ped {
    color: rgb(170, 13, 170);
}
.ed {
    color: #FDDF4C;
}
.exc{
    color: #E82431;
}
.exc a:link { 
    color: #E82431;
    text-decoration:none; 

}
.exc a:visited { 
    color: #E82431;
    text-decoration:none; 

}
.whi {
    color: white;
    font-size: 3em;
    padding-left: 3.4em;
    padding-top: 1em;
}
.Back {
    color: white;
    font-size: 10em;
    padding-top: 1.4em;
    padding-left: 1em;
}
.Back1 {
    color: white;
    font-size: 9em;
    padding-top: 1.4em;
    padding-left: 1.1em;
}
.ger {
    color: white;
    font-size: 3em;
    padding-left: 3.5em;
}
.contai1{
    display: flex;
    font-size: 2.5em;
    width: 800px;
}


.contai{
    display:flex;
    justify-content: space-between;
}
.top-right {
    color: white;
    font-size: 2em;
    padding-top: 2em;
    padding-right: 6em;
}

.top-r {
    padding-left: 2em;
}
.yellow {
    color: yellow;
}
.link_top{
    text-decoration: none;
    color: white;
}
.link_top a:hover{
    text-decoration: none;
    color: white;
}
.link_top a:link{
    text-decoration: none;
    color: white;
}
a.ed:link { 
    color: yellow;
    text-decoration:none; 

}
a.ed:visited { 
    color: yellow;
    text-decoration:none; 

}
.ed a:link { 
    color: yellow;
    text-decoration:none; 

}
.ed a:visited { 
    color: yellow;
    text-decoration:none; 

}
.nav {
    width: 100%;
    padding-left: 3em;
}

.botao_tr {
    border-bottom: white;
    color: white;
}
.td_bot {
    margin-left: 0;
}
.botao a:link { 
    text-decoration:none; 
    color: white;
}
.botao a:visited { 
    text-decoration:none; 
    color: white;
}
.input input {
    border-color: #DEE2E6;
    border-radius: 5px;
    border-width: 2px;
    height: 3em;
    width: 100%;
    margin-bottom: 2em;
}
.new_cat {
    border-bottom: 2px solid #DEE2E6;
    font-size: 1.5em;
}
.form {
    margin-left: 4.2em
}
.nome {
    padding-top: 2em;
    font-size: 1.3em;
}
.space {
    margin-right: 1em;
}
.voltar {
    padding-left: 2.5em;
    padding-right: 2.5em;
}
a.link:visited {
    text-decoration:none; 
    color: white;
}
a.link:link {
    text-decoration:none; 
    color: white;
}