// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
    height: 60vh;
    width: 100vw;
    background-image: url(jay-wennington-2065.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;
    min-width: 300px;
    min-width: 300px;
    position: relative;
}
.clear {
    clear:both;
    line-height:0;
}
.content{   
    height: 40vh;
    width: 100vw;
}

.upper_header{
    margin-right: 12px;
    margin-left: 1%;
}
.upper_h2{
    margin-top: 0.5%;
}
.lower_header{
    left: 9vw;
    position: absolute;
    width: 100vw;
}
.painel{
    height: 60vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.363);
    overflow: hidden;
    position: relative;
    margin: 0%;
}
.small_logo {
    font-size: 5vw;;      
    position: relative;
}
.bug{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.small_text {
    font-size: calc(7px + 1vw);;
    margin-right: 15%; 
    float: right;
    position: relative;  
    right: 15%;    
}
.top-right {
    color: white;
    font-size: calc(7px + .5vw);;
    flex: flex-end;
}

.marg{
    margin-bottom: 5%;
}
.title{
bottom: 15%;
}
.home_title{
    font-family: 'Quicksand', sans-serif;
    font-size: calc(10px * 1.2vw); 
}
.home_subtitle{
    font-family: 'Quicksand', sans-serif;
    font-size: calc(8px + 1vw);
}
.font {
    font-family: 'Quicksand', sans-serif;
}

.cards {
    position: relative;
    word-wrap: break-all;
    width: 240px;
    height: 400px;
    margin-right: 2.5%;
    margin-bottom: 2em;

}
.contain {
    justify-content: flex-start;
    flex-wrap: wrap;
}
.category_name {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: black;
}
.description {
    font-size: calc(7px * 1.5vw);
}
.meal_name {
    background-color: (rgba(0, 0, 0, 0.35));
    color: white;
    width: 100%;
}
.dark{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);

}
.espaco_name{
    font-size: 1.4rem;
    margin-left: 7.5%;
}

.img_overlay_container{
    position: relative ;
    width: 100vw;
    height: 100vh;
}

.over{
    position: absolute;
    top: 50%;
    padding: 0;
}
