// Place all the styles related to the Meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.labels {
    padding-top: 1em;
    font-size: 1.3em;
}

