// Place all the styles related to the Meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.labels {
    padding-top: 1em;
    font-size: 1.3em;
}

.black {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: 60%;
}
.botoes_ref{
    margin-right: 2em;
    color: white;
    width: 100%;
    position: relative;
    z-index: 0;
}
