// Place all the styles related to the OrderMeals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header_pedidos{
    height: 60vh;
    width: 100%;
    background-image: url(elli-o-43178.jpg);
    filter: brightness(90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;
    min-width: 300px;
    min-width: 300px;
    position: relative; 
}
.painel_pedidos{
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0%;
    color: white;
}

.h-voltar{
    margin-left: 40%;
}