  <hr class="mt-4 mb-2">
  <footer class = "container-fluid footer font">
    <span class="footer_left_credits"><b>dinnerdash</b> | todos os direitos reservados</span>
    <span class="footer_right_credits">design e beckend <b>Bruno Sanguinetti</b>, <b>Yuri Silva</b> e <b>Matheus Gabriel</b></span>
  </footer>