    <header class="container-fluid header_backoffice text-white font">
    <div class="painel">
	<header class="upper_header">
		<label class="upper_h2">dinnerdash</label>
		<span><label class="float-right ">sair</label>
		<label class="upper_header float-right ">perfil</label></span>
		<label class="text-warning upper_header float-right ">backoffice</label>
		</header>

        <div class="lower_header fixed-bottom">
            <h1 class="home_title"s>Backoffice</h1>
            <h3 class="home_subtitle">Gerencie pedidos, refeições e mais.</h3>
        </div>
    </div>
    </header>