    <header class="container-fluid header_backoffice text-white font">
        <div class="painel">
	    <header class="upper_header">
	    	<label class="upper_h2 font-logo"><%= link_to  "dinnerdash",  root_path, class: "link" %></label>
	    	<span><label class="float-right pt-1 "><%= link_to  "sair",  destroy_user_session_path, class: "link", method: "delete" %></label>
	    	<label class="upper_header float-right pt-1"><%= link_to  "perfil",  edit_user_registration_path, class: "link" %></label></span>
        <label class="upper_header float-right pt-1"><%= link_to  "pedidos", pedidos_path , class: "link" %></label>
	    	<label class="text-warning upper_header float-right pt-1">backoffice</label>
	    	</header>

          <div class="lower_header fixed-bottom">
              <h1 class="home_title">Backoffice</h1>
                <h3 class="home_subtitle">Gerencie pedidos, refeições e mais.</h3>
        </div>
    </div>
    </header>